body, html{
       height: 100%;
       }

body {
       margin: 0;
       padding:5px 20%;
       }

#app {
	background: lightgray;
	border: thick solid #406bac;
	border-radius: 10px;
	box-shadow: 5px 5px 5px darkgrey;
	height: 90%;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1 {
	border-bottom: 2px;
}


.image {
       width: 100%;
       height: 200px;
       background: no-repeat;
       background-size: contain;
       background-position: center;
       }

.question {
	text-align: center;
	padding-left:20%;
	padding-right:20%;
       }

ul {
	list-style:none;
	padding: 0;
}

li {
	margin: 10px;
	border: thick solid #406bac;
	border-radius: 10px;
	transition: all 0.7s ease-in-out;
	background: white;
}

li:hover {
	background: lime;
}

input[type="radio"] {
	opacity: 0.01;
}

.limeBackground {
	background-color: lime;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}
 
